In [84]:
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns
import pandas as pd
import os

### Data exploration
['AS14.01', 'AS14.02', 'AS14.03', 'AS14.05', 'AS14.06', 'AS14.07',
       'AS14.08', 'AS14.09', 'AS14.12', 'AS14.13', 'AS14.14', 'AS14.15',
       'AS14.16', 'AS14.17', 'AS14.19', 'AS14.20', 'AS14.23', 'AS14.24',
       'AS14.25', 'AS14.26', 'AS14.27', 'AS14.28', 'AS14.29', 'AS14.30',
       'AS14.31', 'AS14.32', 'AS14.33']

In [85]:
df = pd.read_csv('dataset_mood_smartphone.csv')

In [86]:
df["id_num"] = df["id"].apply(lambda x: int(x.split(".")[1]))
print(df["id_num"].unique())
df["id"].unique()

[ 1  2  3  5  6  7  8  9 12 13 14 15 16 17 19 20 23 24 25 26 27 28 29 30
 31 32 33]

array(['AS14.01', 'AS14.02', 'AS14.03', 'AS14.05', 'AS14.06', 'AS14.07',
       'AS14.08', 'AS14.09', 'AS14.12', 'AS14.13', 'AS14.14', 'AS14.15',
       'AS14.16', 'AS14.17', 'AS14.19', 'AS14.20', 'AS14.23', 'AS14.24',
       'AS14.25', 'AS14.26', 'AS14.27', 'AS14.28', 'AS14.29', 'AS14.30',
       'AS14.31', 'AS14.32', 'AS14.33'], dtype=object)

In [87]:
# convert time to datetime
df["time"] = pd.to_datetime(df["time"])

In [88]:
for person in df["id_num"].unique():
    print("PERSON", person)
    # df_person = df[df["id_num"] == person]
    # print(df_person["variable"].unique())
    # print(df_person["variable"].value_counts())
    # print(df_person["value"].describe())
    # print(df_person["time"].describe())
    # print(df_person["time"].max() - df_person["time"].min())
    # print(df_person["time"].max())
    # print(df_person["time"].min())

    for var in df_person["variable"].unique():
        print(var)
        df_var = df_person[df_person["variable"] == var]
        print(df_var["value"].describe())
        print(df_var["time"].describe())
        print(df_var["time"].max() - df_var["time"].min())
        print(df_var["time"].max())
        print(df_var["time"].min())

PERSON 1
mood
count    192.000000
mean       6.562500
std        1.481562
min        2.000000
25%        6.000000
50%        7.000000
75%        7.000000
max       10.000000
Name: value, dtype: float64
count                              192
mean     2014-05-09 04:52:48.750000128
min                2014-04-16 15:00:00
25%                2014-04-26 18:00:00
50%                2014-05-10 10:30:00
75%                2014-05-21 02:15:00
max                2014-05-31 12:00:00
Name: time, dtype: object
44 days 21:00:00
2014-05-31 12:00:00
2014-04-16 15:00:00
circumplex.arousal
count    191.000000
mean      -0.382199
std        1.246256
min       -2.000000
25%       -2.000000
50%        0.000000
75%        1.000000
max        2.000000
Name: value, dtype: float64
count                              192
mean     2014-05-09 04:52:48.750000128
min                2014-04-16 15:00:00
25%                2014-04-26 18:00:00
50%                2014-05-10 10:30:00
75%                2014-05-21 02:15:00
max                2014-05-31 12:00:00
Name: time, dtype: object
44 days 21:00:00
2014-05-31 12:00:00
2014-04-16 15:00:00
circumplex.valence
count    181.000000
mean       0.441989
std        0.908726
min       -2.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        2.000000
Name: value, dtype: float64
count                              192
mean     2014-05-09 04:52:48.750000128
min                2014-04-16 15:00:00
25%                2014-04-26 18:00:00
50%                2014-05-10 10:30:00
75%                2014-05-21 02:15:00
max                2014-05-31 12:00:00
Name: time, dtype: object
44 days 21:00:00
2014-05-31 12:00:00
2014-04-16 15:00:00
activity
count    1005.000000
mean        0.091865
std         0.172830
min         0.000000
25%         0.000000
50%         0.008475
75%         0.076923
max         1.000000
Name: value, dtype: float64
count                             1005
mean     2014-05-08 15:01:58.208955392
min                2014-04-16 13:00:00
25%                2014-04-27 17:00:00
50%                2014-05-08 12:00:00
75%                2014-05-19 13:00:00
max                2014-05-30 22:00:00
Name: time, dtype: object
44 days 09:00:00
2014-05-30 22:00:00
2014-04-16 13:00:00
screen
count    3141.000000
mean      152.760192
std       518.207542
min         0.257000
25%         7.551000
50%        32.902000
75%       117.980000
max      9577.088000
Name: value, dtype: float64
count                             3141
mean     2014-05-07 04:09:29.972590080
min         2014-04-16 14:13:01.732000
25%      2014-04-25 23:38:11.505999872
50%      2014-05-04 20:26:52.972999936
75%      2014-05-17 10:49:27.620999936
max         2014-05-30 22:18:11.591000
Name: time, dtype: object
44 days 08:05:09.859000
2014-05-30 22:18:11.591000
2014-04-16 14:13:01.732000
call
count    468.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0
Name: value, dtype: float64
count                              468
mean     2014-04-07 20:17:04.374895360
min         2014-02-17 15:52:18.940000
25%      2014-03-14 13:13:25.234000128
50%      2014-04-05 13:00:11.110499840
75%      2014-04-28 13:29:23.752499968
max         2014-05-30 15:52:26.142000
Name: time, dtype: object
102 days 00:00:07.202000
2014-05-30 15:52:26.142000
2014-02-17 15:52:18.940000
sms
count    61.0
mean      1.0
std       0.0
min       1.0
25%       1.0
50%       1.0
75%       1.0
max       1.0
Name: value, dtype: float64
count                               61
mean     2014-04-16 01:05:16.698868736
min         2014-02-19 13:48:24.505000
25%      2014-03-25 14:18:07.947000064
50%      2014-04-24 23:30:35.875000064
75%      2014-05-06 12:37:32.192999936
max         2014-05-29 23:07:30.677000
Name: time, dtype: object
99 days 09:19:06.172000
2014-05-29 23:07:30.677000
2014-02-19 13:48:24.505000
appCat.builtin
count     6703.000000
mean        14.406619
std        140.938114
min          0.001000
25%          2.010000
50%          4.016000
75%          9.031000
max      11001.113000
Name: value, dtype: float64
count                             6703
mean     2014-05-06 17:39:08.402233856
min         2014-04-16 13:08:56.638000
25%      2014-04-26 02:56:14.023500032
50%      2014-05-04 18:47:00.548999936
75%      2014-05-16 13:34:44.857999872
max         2014-05-30 22:32:15.246000
Name: time, dtype: object
44 days 09:23:18.608000
2014-05-30 22:32:15.246000
2014-04-16 13:08:56.638000
appCat.communication
count    1215.000000
mean       53.180569
std       130.327966
min         0.201000
25%         6.103500
50%        23.354000
75%        55.903500
max      3228.133000
Name: value, dtype: float64
count                             1215
mean     2014-05-09 11:43:52.785107712
min         2014-04-16 13:15:36.703000
25%      2014-04-27 14:03:14.887500032
50%      2014-05-10 00:01:50.932999936
75%      2014-05-22 15:43:34.779000064
max         2014-05-30 22:31:07.964000
Name: time, dtype: object
44 days 09:15:31.261000
2014-05-30 22:31:07.964000
2014-04-16 13:15:36.703000
appCat.entertainment
count    385.000000
mean      81.815810
std      109.760606
min        0.960000
25%        9.651000
50%       45.790000
75%      113.576000
max      890.937000
Name: value, dtype: float64
count                              385
mean     2014-05-08 18:10:39.488870144
min         2014-04-16 13:55:00.400000
25%         2014-04-28 23:55:56.880000
50%      2014-05-09 11:36:55.057999872
75%         2014-05-17 22:00:58.104000
max         2014-05-30 21:50:08.052000
Name: time, dtype: object
44 days 07:55:07.652000
2014-05-30 21:50:08.052000
2014-04-16 13:55:00.400000
appCat.finance
count    1.000
mean     3.106
std        NaN
min      3.106
25%      3.106
50%      3.106
75%      3.106
max      3.106
Name: value, dtype: float64
count                                1
mean     2014-04-28 12:53:34.256999936
min         2014-04-28 12:53:34.257000
25%      2014-04-28 12:53:34.256999936
50%      2014-04-28 12:53:34.256999936
75%      2014-04-28 12:53:34.256999936
max         2014-04-28 12:53:34.257000
Name: time, dtype: object
0 days 00:00:00
2014-04-28 12:53:34.257000
2014-04-28 12:53:34.257000
appCat.office
count      9.000000
mean      54.271000
std       71.333148
min        2.010000
25%       15.136000
50%       17.384000
75%       71.914000
max      209.131000
Name: value, dtype: float64
count                                9
mean     2014-05-28 10:08:56.621999872
min         2014-05-26 15:25:38.549000
25%      2014-05-28 14:55:22.351000064
50%         2014-05-28 14:56:12.792000
75%      2014-05-28 16:24:49.936999936
max         2014-05-28 16:27:20.937000
Name: time, dtype: object
2 days 01:01:42.388000
2014-05-28 16:27:20.937000
2014-05-26 15:25:38.549000
appCat.other
count    244.000000
mean      15.793176
std       19.816672
min        1.005000
25%        9.035000
50%       11.136000
75%       15.132500
max      242.785000
Name: value, dtype: float64
count                              244
mean     2014-05-10 16:12:33.032807168
min         2014-04-16 13:15:52.997000
25%      2014-04-28 16:36:03.409999872
50%      2014-05-12 03:49:19.746500096
75%      2014-05-23 17:11:53.831250176
max         2014-05-30 20:59:22.857000
Name: time, dtype: object
44 days 07:43:29.860000
2014-05-30 20:59:22.857000
2014-04-16 13:15:52.997000
appCat.social
count    2202.000000
mean       95.564588
std       156.961483
min         0.232000
25%        12.063500
50%        41.170500
75%       110.558750
max      2860.526000
Name: value, dtype: float64
count                             2202
mean     2014-05-06 23:12:40.906479616
min         2014-04-16 13:22:47.048000
25%         2014-04-25 15:02:37.720000
50%      2014-05-06 07:54:39.085000192
75%      2014-05-18 13:52:58.154749952
max         2014-05-30 22:06:07.826000
Name: time, dtype: object
44 days 08:43:20.778000
2014-05-30 22:06:07.826000
2014-04-16 13:22:47.048000
appCat.travel
count     88.000000
mean      31.742273
std       34.814072
min        0.080000
25%        4.987500
50%       21.338500
75%       52.627000
max      164.928000
Name: value, dtype: float64
count                               88
mean     2014-05-13 14:01:52.437057024
min         2014-04-21 12:48:50.296000
25%      2014-05-01 20:25:45.706000128
50%      2014-05-09 01:50:07.048999936
75%      2014-05-30 12:49:31.986500096
max         2014-05-30 16:21:59.167000
Name: time, dtype: object
39 days 03:33:08.871000
2014-05-30 16:21:59.167000
2014-04-21 12:48:50.296000
appCat.unknown
count     7.000000
mean      6.176429
std       9.308394
min       1.006000
25%       2.008500
50%       3.046000
75%       4.015500
max      27.135000
Name: value, dtype: float64
count                                7
mean     2014-05-15 17:42:40.582571520
min         2014-04-16 13:16:10.072000
25%      2014-05-05 22:51:41.793499904
50%      2014-05-20 01:39:30.633999872
75%      2014-05-30 12:59:22.831499776
max         2014-05-30 13:20:54.122000
Name: time, dtype: object
44 days 00:04:44.050000
2014-05-30 13:20:54.122000
2014-04-16 13:16:10.072000
appCat.utilities
count    285.000000
mean       8.573891
std       11.511511
min        0.566000
25%        4.011000
50%        5.021000
75%        9.030000
max      107.758000
Name: value, dtype: float64
count                              285
mean     2014-05-01 13:46:49.806926592
min         2014-04-16 15:17:39.076000
25%      2014-04-19 16:47:28.670000128
50%      2014-04-28 12:56:35.963000064
75%      2014-05-08 08:43:26.425999872
max         2014-05-30 22:32:05.016000
Name: time, dtype: object
44 days 07:14:25.940000
2014-05-30 22:32:05.016000
2014-04-16 15:17:39.076000
PERSON 2
mood
count    192.000000
mean       6.562500
std        1.481562
min        2.000000
25%        6.000000
50%        7.000000
75%        7.000000
max       10.000000
Name: value, dtype: float64
count                              192
mean     2014-05-09 04:52:48.750000128
min                2014-04-16 15:00:00
25%                2014-04-26 18:00:00
50%                2014-05-10 10:30:00
75%                2014-05-21 02:15:00
max                2014-05-31 12:00:00
Name: time, dtype: object
44 days 21:00:00
2014-05-31 12:00:00
2014-04-16 15:00:00
circumplex.arousal
count    191.000000
mean      -0.382199
std        1.246256
min       -2.000000
25%       -2.000000
50%        0.000000
75%        1.000000
max        2.000000
Name: value, dtype: float64
count                              192
mean     2014-05-09 04:52:48.750000128
min                2014-04-16 15:00:00
25%                2014-04-26 18:00:00
50%                2014-05-10 10:30:00
75%                2014-05-21 02:15:00
max                2014-05-31 12:00:00
Name: time, dtype: object
44 days 21:00:00
2014-05-31 12:00:00
2014-04-16 15:00:00
circumplex.valence
count    181.000000
mean       0.441989
std        0.908726
min       -2.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        2.000000
Name: value, dtype: float64
count                              192
mean     2014-05-09 04:52:48.750000128
min                2014-04-16 15:00:00
25%                2014-04-26 18:00:00
50%                2014-05-10 10:30:00
75%                2014-05-21 02:15:00
max                2014-05-31 12:00:00
Name: time, dtype: object
44 days 21:00:00
2014-05-31 12:00:00
2014-04-16 15:00:00
activity
count    1005.000000
mean        0.091865
std         0.172830
min         0.000000
25%         0.000000
50%         0.008475
75%         0.076923
max         1.000000
Name: value, dtype: float64
count                             1005
mean     2014-05-08 15:01:58.208955392
min                2014-04-16 13:00:00
25%                2014-04-27 17:00:00
50%                2014-05-08 12:00:00
75%                2014-05-19 13:00:00
max                2014-05-30 22:00:00
Name: time, dtype: object
44 days 09:00:00
2014-05-30 22:00:00
2014-04-16 13:00:00
screen
count    3141.000000
mean      152.760192
std       518.207542
min         0.257000
25%         7.551000
50%        32.902000
75%       117.980000
max      9577.088000
Name: value, dtype: float64
count                             3141
mean     2014-05-07 04:09:29.972590080
min         2014-04-16 14:13:01.732000
25%      2014-04-25 23:38:11.505999872
50%      2014-05-04 20:26:52.972999936
75%      2014-05-17 10:49:27.620999936
max         2014-05-30 22:18:11.591000
Name: time, dtype: object
44 days 08:05:09.859000
2014-05-30 22:18:11.591000
2014-04-16 14:13:01.732000
call
count    468.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0
Name: value, dtype: float64
count                              468
mean     2014-04-07 20:17:04.374895360
min         2014-02-17 15:52:18.940000
25%      2014-03-14 13:13:25.234000128
50%      2014-04-05 13:00:11.110499840
75%      2014-04-28 13:29:23.752499968
max         2014-05-30 15:52:26.142000
Name: time, dtype: object
102 days 00:00:07.202000
2014-05-30 15:52:26.142000
2014-02-17 15:52:18.940000
sms
count    61.0
mean      1.0
std       0.0
min       1.0
25%       1.0
50%       1.0
75%       1.0
max       1.0
Name: value, dtype: float64
count                               61
mean     2014-04-16 01:05:16.698868736
min         2014-02-19 13:48:24.505000
25%      2014-03-25 14:18:07.947000064
50%      2014-04-24 23:30:35.875000064
75%      2014-05-06 12:37:32.192999936
max         2014-05-29 23:07:30.677000
Name: time, dtype: object
99 days 09:19:06.172000
2014-05-29 23:07:30.677000
2014-02-19 13:48:24.505000
appCat.builtin
count     6703.000000
mean        14.406619
std        140.938114
min          0.001000
25%          2.010000
50%          4.016000
75%          9.031000
max      11001.113000
Name: value, dtype: float64
count                             6703
mean     2014-05-06 17:39:08.402233856
min         2014-04-16 13:08:56.638000
25%      2014-04-26 02:56:14.023500032
50%      2014-05-04 18:47:00.548999936
75%      2014-05-16 13:34:44.857999872
max         2014-05-30 22:32:15.246000
Name: time, dtype: object
44 days 09:23:18.608000
2014-05-30 22:32:15.246000
2014-04-16 13:08:56.638000
appCat.communication
count    1215.000000
mean       53.180569
std       130.327966
min         0.201000
25%         6.103500
50%        23.354000
75%        55.903500
max      3228.133000
Name: value, dtype: float64
count                             1215
mean     2014-05-09 11:43:52.785107712
min         2014-04-16 13:15:36.703000
25%      2014-04-27 14:03:14.887500032
50%      2014-05-10 00:01:50.932999936
75%      2014-05-22 15:43:34.779000064
max         2014-05-30 22:31:07.964000
Name: time, dtype: object
44 days 09:15:31.261000
2014-05-30 22:31:07.964000
2014-04-16 13:15:36.703000
appCat.entertainment
count    385.000000
mean      81.815810
std      109.760606
min        0.960000
25%        9.651000
50%       45.790000
75%      113.576000
max      890.937000
Name: value, dtype: float64
count                              385
mean     2014-05-08 18:10:39.488870144
min         2014-04-16 13:55:00.400000
25%         2014-04-28 23:55:56.880000
50%      2014-05-09 11:36:55.057999872
75%         2014-05-17 22:00:58.104000
max         2014-05-30 21:50:08.052000
Name: time, dtype: object
44 days 07:55:07.652000
2014-05-30 21:50:08.052000
2014-04-16 13:55:00.400000
appCat.finance
count    1.000
mean     3.106
std        NaN
min      3.106
25%      3.106
50%      3.106
75%      3.106
max      3.106
Name: value, dtype: float64
count                                1
mean     2014-04-28 12:53:34.256999936
min         2014-04-28 12:53:34.257000
25%      2014-04-28 12:53:34.256999936
50%      2014-04-28 12:53:34.256999936
75%      2014-04-28 12:53:34.256999936
max         2014-04-28 12:53:34.257000
Name: time, dtype: object
0 days 00:00:00
2014-04-28 12:53:34.257000
2014-04-28 12:53:34.257000
appCat.office
count      9.000000
mean      54.271000
std       71.333148
min        2.010000
25%       15.136000
50%       17.384000
75%       71.914000
max      209.131000
Name: value, dtype: float64
count                                9
mean     2014-05-28 10:08:56.621999872
min         2014-05-26 15:25:38.549000
25%      2014-05-28 14:55:22.351000064
50%         2014-05-28 14:56:12.792000
75%      2014-05-28 16:24:49.936999936
max         2014-05-28 16:27:20.937000
Name: time, dtype: object
2 days 01:01:42.388000
2014-05-28 16:27:20.937000
2014-05-26 15:25:38.549000
appCat.other
count    244.000000
mean      15.793176
std       19.816672
min        1.005000
25%        9.035000
50%       11.136000
75%       15.132500
max      242.785000
Name: value, dtype: float64
count                              244
mean     2014-05-10 16:12:33.032807168
min         2014-04-16 13:15:52.997000
25%      2014-04-28 16:36:03.409999872
50%      2014-05-12 03:49:19.746500096
75%      2014-05-23 17:11:53.831250176
max         2014-05-30 20:59:22.857000
Name: time, dtype: object
44 days 07:43:29.860000
2014-05-30 20:59:22.857000
2014-04-16 13:15:52.997000
appCat.social
count    2202.000000
mean       95.564588
std       156.961483
min         0.232000
25%        12.063500
50%        41.170500
75%       110.558750
max      2860.526000
Name: value, dtype: float64
count                             2202
mean     2014-05-06 23:12:40.906479616
min         2014-04-16 13:22:47.048000
25%         2014-04-25 15:02:37.720000
50%      2014-05-06 07:54:39.085000192
75%      2014-05-18 13:52:58.154749952
max         2014-05-30 22:06:07.826000
Name: time, dtype: object
44 days 08:43:20.778000
2014-05-30 22:06:07.826000
2014-04-16 13:22:47.048000
appCat.travel
count     88.000000
mean      31.742273
std       34.814072
min        0.080000
25%        4.987500
50%       21.338500
75%       52.627000
max      164.928000
Name: value, dtype: float64
count                               88
mean     2014-05-13 14:01:52.437057024
min         2014-04-21 12:48:50.296000
25%      2014-05-01 20:25:45.706000128
50%      2014-05-09 01:50:07.048999936
75%      2014-05-30 12:49:31.986500096
max         2014-05-30 16:21:59.167000
Name: time, dtype: object
39 days 03:33:08.871000
2014-05-30 16:21:59.167000
2014-04-21 12:48:50.296000
appCat.unknown
count     7.000000
mean      6.176429
std       9.308394
min       1.006000
25%       2.008500
50%       3.046000
75%       4.015500
max      27.135000
Name: value, dtype: float64
count                                7
mean     2014-05-15 17:42:40.582571520
min         2014-04-16 13:16:10.072000
25%      2014-05-05 22:51:41.793499904
50%      2014-05-20 01:39:30.633999872
75%      2014-05-30 12:59:22.831499776
max         2014-05-30 13:20:54.122000
Name: time, dtype: object
44 days 00:04:44.050000
2014-05-30 13:20:54.122000
2014-04-16 13:16:10.072000
appCat.utilities
count    285.000000
mean       8.573891
std       11.511511
min        0.566000
25%        4.011000
50%        5.021000
75%        9.030000
max      107.758000
Name: value, dtype: float64
count                              285
mean     2014-05-01 13:46:49.806926592
min         2014-04-16 15:17:39.076000
25%      2014-04-19 16:47:28.670000128
50%      2014-04-28 12:56:35.963000064
75%      2014-05-08 08:43:26.425999872
max         2014-05-30 22:32:05.016000
Name: time, dtype: object
44 days 07:14:25.940000
2014-05-30 22:32:05.016000
2014-04-16 15:17:39.076000
PERSON 3
mood
count    192.000000
mean       6.562500
std        1.481562
min        2.000000
25%        6.000000
50%        7.000000
75%        7.000000
max       10.000000
Name: value, dtype: float64
count                              192
mean     2014-05-09 04:52:48.750000128
min                2014-04-16 15:00:00
25%                2014-04-26 18:00:00
50%                2014-05-10 10:30:00
75%                2014-05-21 02:15:00
max                2014-05-31 12:00:00
Name: time, dtype: object
44 days 21:00:00
2014-05-31 12:00:00
2014-04-16 15:00:00
circumplex.arousal
count    191.000000
mean      -0.382199
std        1.246256
min       -2.000000
25%       -2.000000

In [93]:
df_person_1 = df[df["id_num"] == 1].copy()

# df_person_1["time"].nunique()

# count which number occurs twice

# split the values into variable columns with unique time values

# count unique days in time
# print(df_person_1["time"].dt.date.nunique())

# rename time into date-time
df_person_1 = df_person_1.rename(columns={"time": "datetime"})
df_person_1["date"] = df_person_1["datetime"].dt.date
df_person_1["hour"] = df_person_1["datetime"].dt.hour
df_person_1["minute"] = df_person_1["datetime"].dt.minute
df_person_1

,Unnamed: 0,id,datetime,variable,value,id_num,date,hour,minute
0,1,AS14.01,2014-02-26 13:00:00.000,mood,6.000,1,2014-02-26,13,0
1,2,AS14.01,2014-02-26 15:00:00.000,mood,6.000,1,2014-02-26,15,0
2,3,AS14.01,2014-02-26 18:00:00.000,mood,6.000,1,2014-02-26,18,0
3,4,AS14.01,2014-02-26 21:00:00.000,mood,7.000,1,2014-02-26,21,0
4,5,AS14.01,2014-02-27 09:00:00.000,mood,6.000,1,2014-02-27,9,0
...,...,...,...,...,...,...,...,...,...
374684,2348657,AS14.01,2014-05-05 00:15:26.313,appCat.utilities,164.567,1,2014-05-05,0,15
374685,2348659,AS14.01,2014-05-05 00:18:14.953,appCat.utilities,48.138,1,2014-05-05,0,18
374686,2348660,AS14.01,2014-05-05 00:19:42.322,appCat.utilities,48.156,1,2014-05-05,0,19
374687,2348691,AS14.01,2014-05-05 09:41:03.888,appCat.utilities,3.470,1,2014-05-05,9,41
376657,2568328,AS14.01,2014-03-23 16:21:32.480,appCat.weather,30.386,1,2014-03-23,16,21

None