In [146]:
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns
import pandas as pd
import os
import plotly.graph_objects as go
from plotly.subplots import make_subplots

### Data exploration
['AS14.01', 'AS14.02', 'AS14.03', 'AS14.05', 'AS14.06', 'AS14.07',
       'AS14.08', 'AS14.09', 'AS14.12', 'AS14.13', 'AS14.14', 'AS14.15',
       'AS14.16', 'AS14.17', 'AS14.19', 'AS14.20', 'AS14.23', 'AS14.24',
       'AS14.25', 'AS14.26', 'AS14.27', 'AS14.28', 'AS14.29', 'AS14.30',
       'AS14.31', 'AS14.32', 'AS14.33']

In [147]:
df = pd.read_csv('dataset_mood_smartphone.csv')
df.head()

df.isna().sum()

Unnamed: 0      0
id              0
time            0
variable        0
value         202
dtype: int64

In [148]:
df["id_num"] = df["id"].apply(lambda x: int(x.split(".")[1]))
print(df["id_num"].unique())
df["id"].unique()

[ 1  2  3  5  6  7  8  9 12 13 14 15 16 17 19 20 23 24 25 26 27 28 29 30
 31 32 33]

array(['AS14.01', 'AS14.02', 'AS14.03', 'AS14.05', 'AS14.06', 'AS14.07',
       'AS14.08', 'AS14.09', 'AS14.12', 'AS14.13', 'AS14.14', 'AS14.15',
       'AS14.16', 'AS14.17', 'AS14.19', 'AS14.20', 'AS14.23', 'AS14.24',
       'AS14.25', 'AS14.26', 'AS14.27', 'AS14.28', 'AS14.29', 'AS14.30',
       'AS14.31', 'AS14.32', 'AS14.33'], dtype=object)

In [149]:
# convert time to datetime


df["time"] = pd.to_datetime(df["time"])

In [150]:
for person in df["id_num"].unique():
    print("PERSON", person)
    df_person = df[df["id_num"] == person]
    # print(df_person["variable"].unique())
    # print(df_person["variable"].value_counts())
    # print(df_person["value"].describe())
    # print(df_person["time"].describe())
    # print(df_person["time"].max() - df_person["time"].min())
    # print(df_person["time"].max())
    # print(df_person["time"].min())

    for var in df_person["variable"].unique():
        print(var)
        df_var = df_person[df_person["variable"] == var]
        print(df_var["value"].describe())
        print(df_var["time"].describe())
        print(f"DIFFERENCE FOR {var}", df_var["time"].max() - df_var["time"].min())
        print(df_var["time"].max())
        print(df_var["time"].min())

PERSON 1
mood
count    222.000000
mean       7.067568
std        0.845500
min        4.000000
25%        7.000000
50%        7.000000
75%        8.000000
max        9.000000
Name: value, dtype: float64
count                              222
mean     2014-04-11 06:06:45.405405440
min                2014-02-26 13:00:00
25%                2014-03-31 09:45:00
50%                2014-04-11 20:00:00
75%                2014-04-23 14:00:00
max                2014-05-04 21:00:00
Name: time, dtype: object
DIFFERENCE FOR mood 67 days 08:00:00
2014-05-04 21:00:00
2014-02-26 13:00:00
circumplex.arousal
count    218.000000
mean      -0.243119
std        0.905983
min       -2.000000
25%       -1.000000
50%        0.000000
75%        0.000000
max        2.000000
Name: value, dtype: float64
count                              223
mean     2014-04-11 07:53:48.699551744
min                2014-02-26 13:00:00
25%                2014-03-31 10:30:00
50%                2014-04-11 22:00:00
75%                2014-04-23 16:30:00
max                2014-05-04 21:00:00
Name: time, dtype: object
DIFFERENCE FOR circumplex.arousal 67 days 08:00:00
2014-05-04 21:00:00
2014-02-26 13:00:00
circumplex.valence
count    211.000000
mean       0.706161
std        0.542402
min       -1.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        2.000000
Name: value, dtype: float64
count                              223
mean     2014-04-11 07:53:48.699551744
min                2014-02-26 13:00:00
25%                2014-03-31 10:30:00
50%                2014-04-11 22:00:00
75%                2014-04-23 16:30:00
max                2014-05-04 21:00:00
Name: time, dtype: object
DIFFERENCE FOR circumplex.valence 67 days 08:00:00
2014-05-04 21:00:00
2014-02-26 13:00:00
activity
count    1056.000000
mean        0.090213
std         0.140999
min         0.000000
25%         0.000000
50%         0.025641
75%         0.118898
max         1.000000
Name: value, dtype: float64
count                             1056
mean     2014-04-13 01:41:55.909090816
min                2014-03-20 22:00:00
25%                2014-04-02 03:45:00
50%                2014-04-13 03:30:00
75%                2014-04-24 04:15:00
max                2014-05-05 10:00:00
Name: time, dtype: object
DIFFERENCE FOR activity 45 days 12:00:00
2014-05-05 10:00:00
2014-03-20 22:00:00
screen
count    5438.000000
mean      100.779564
std       348.517031
min         0.337000
25%         9.569250
50%        24.673000
75%        73.559500
max      8183.545000
Name: value, dtype: float64
count                             5438
mean     2014-04-11 09:19:33.406597888
min         2014-03-20 23:14:58.200000
25%      2014-04-01 12:50:32.120499968
50%      2014-04-09 15:52:44.301999872
75%      2014-04-22 18:50:28.354250240
max         2014-05-05 09:31:01.887000
Name: time, dtype: object
DIFFERENCE FOR screen 45 days 10:16:03.687000
2014-05-05 09:31:01.887000
2014-03-20 23:14:58.200000
call
count    151.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0
Name: value, dtype: float64
count                              151
mean     2014-03-27 17:36:05.821748480
min         2014-02-17 12:04:42.394000
25%      2014-03-12 14:19:44.571499776
50%      2014-03-28 12:12:40.537999872
75%      2014-04-10 16:37:07.520499968
max         2014-05-01 23:39:08.048000
Name: time, dtype: object
DIFFERENCE FOR call 73 days 11:34:25.654000
2014-05-01 23:39:08.048000
2014-02-17 12:04:42.394000
sms
count    39.0
mean      1.0
std       0.0
min       1.0
25%       1.0
50%       1.0
75%       1.0
max       1.0
Name: value, dtype: float64
count                               39
mean     2014-03-27 19:01:08.659435776
min         2014-02-19 17:42:34.292000
25%         2014-03-06 23:35:05.144000
50%         2014-03-22 15:47:07.964000
75%      2014-04-22 20:03:14.795500032
max         2014-05-03 10:09:01.671000
Name: time, dtype: object
DIFFERENCE FOR sms 72 days 16:26:27.379000
2014-05-03 10:09:01.671000
2014-02-19 17:42:34.292000
appCat.builtin
count     6299.000000
mean        14.987378
std        228.559397
min          0.021000
25%          2.008000
50%          3.387000
75%          7.432500
max      14542.772000
Name: value, dtype: float64
count                             6299
mean     2014-04-11 18:06:59.239162112
min         2014-03-20 22:25:56.111000
25%      2014-04-01 13:03:59.519500032
50%         2014-04-10 19:05:28.112000
75%      2014-04-22 16:52:43.268999936
max         2014-05-05 09:41:57.378000
Name: time, dtype: object
DIFFERENCE FOR appCat.builtin 45 days 11:16:01.267000
2014-05-05 09:41:57.378000
2014-03-20 22:25:56.111000
appCat.communication
count    5337.000000
mean       49.736336
std       109.104260
min         0.030000
25%         9.110000
50%        23.148000
75%        52.660000
max      4534.717000
Name: value, dtype: float64
count                             5337
mean     2014-04-11 12:59:27.496151040
min         2014-03-20 22:25:58.417000
25%      2014-04-01 12:52:47.190000128
50%      2014-04-09 20:40:26.151000064
75%      2014-04-22 22:15:32.081999872
max         2014-05-05 09:41:07.858000
Name: time, dtype: object
DIFFERENCE FOR appCat.communication 45 days 11:15:09.441000
2014-05-05 09:41:07.858000
2014-03-20 22:25:58.417000
appCat.entertainment
count     609.000000
mean       87.263831
std       161.842830
min         0.445000
25%         9.170000
50%        31.734000
75%        99.446000
max      1326.016000
Name: value, dtype: float64
count                              609
mean     2014-04-13 05:23:49.162971904
min         2014-03-20 22:40:30.552000
25%      2014-04-02 08:44:07.927000064
50%      2014-04-13 23:10:20.529999872
75%      2014-04-24 11:00:41.167000064
max         2014-05-05 00:20:30.479000
Name: time, dtype: object
DIFFERENCE FOR appCat.entertainment 45 days 01:39:59.927000
2014-05-05 00:20:30.479000
2014-03-20 22:40:30.552000
appCat.finance
count    275.000000
mean      20.847291
std       47.142941
min        1.001000
25%        4.012000
50%        7.036000
75%       13.101000
max      355.513000
Name: value, dtype: float64
count                              275
mean     2014-04-15 14:00:17.658305280
min         2014-03-21 10:26:32.581000
25%      2014-04-01 19:26:07.845499904
50%      2014-04-18 12:03:40.304999936
75%      2014-05-01 12:12:21.764499968
max         2014-05-03 12:12:19.328000
Name: time, dtype: object
DIFFERENCE FOR appCat.finance 43 days 01:45:46.747000
2014-05-03 12:12:19.328000
2014-03-21 10:26:32.581000
appCat.game
count     12.00000
mean      83.06725
std       86.05838
min        1.05900
25%       35.92925
50%       53.66950
75%      109.39875
max      295.09400
Name: value, dtype: float64
count                               12
mean     2014-04-08 14:55:22.919000064
min         2014-03-28 18:30:14.595000
25%      2014-04-01 05:51:48.180249856
50%         2014-04-04 03:44:38.860000
75%      2014-04-12 18:50:51.898000128
max         2014-04-29 14:50:37.148000
Name: time, dtype: object
DIFFERENCE FOR appCat.game 31 days 20:20:22.553000
2014-04-29 14:50:37.148000
2014-03-28 18:30:14.595000
appCat.office
count     23.000000
mean      26.475478
std       29.641747
min        2.096000
25%        4.749500
50%       16.221000
75%       28.431000
max      104.446000
Name: value, dtype: float64
count                               23
mean     2014-03-30 04:30:06.699782912
min         2014-03-21 11:17:02.808000
25%      2014-03-27 11:14:10.653999872
50%      2014-03-27 11:15:00.489999872
75%      2014-04-01 13:43:07.264499968
max         2014-05-01 13:49:20.880000
Name: time, dtype: object
DIFFERENCE FOR appCat.office 41 days 02:32:18.072000
2014-05-01 13:49:20.880000
2014-03-21 11:17:02.808000
appCat.other
count    327.000000
mean      18.828746
std       52.483587
min        1.002000
25%        7.026000
50%        9.028000
75%       13.153500
max      846.752000
Name: value, dtype: float64
count                              327
mean     2014-04-10 23:46:16.740617728
min         2014-03-20 22:25:45.190000
25%      2014-04-01 16:19:33.539000064
50%         2014-04-09 15:30:23.348000
75%      2014-04-21 04:29:10.998499840
max         2014-05-04 21:53:28.706000
Name: time, dtype: object
DIFFERENCE FOR appCat.other 44 days 23:27:43.516000
2014-05-04 21:53:28.706000
2014-03-20 22:25:45.190000
appCat.social
count    1097.000000
mean       71.359543
std       147.093564
min         0.812000
25%        11.041000
50%        30.660000
75%        72.154000
max      2323.033000
Name: value, dtype: float64
count                             1097
mean     2014-04-08 09:42:45.917390336
min         2014-03-20 22:49:38.631000
25%      2014-03-31 21:25:24.916999936
50%         2014-04-06 00:07:21.516000
75%         2014-04-16 20:48:16.680000
max         2014-05-05 00:35:11.493000
Name: time, dtype: object
DIFFERENCE FOR appCat.social 45 days 01:45:32.862000
2014-05-05 00:35:11.493000
2014-03-20 22:49:38.631000
appCat.travel
count    135.000000
mean      46.002133
std       75.253442
min        1.003000
25%        6.588500
50%       19.696000
75%       44.448000
max      428.503000
Name: value, dtype: float64
count                              135
mean     2014-04-10 04:26:26.100666368
min         2014-03-21 10:39:42.667000
25%         2014-03-28 14:22:53.064000
50%      2014-04-04 15:40:15.176999936
75%      2014-04-26 11:48:05.992500224
max         2014-05-03 20:10:27.733000
Name: time, dtype: object
DIFFERENCE FOR appCat.travel 43 days 09:30:45.066000
2014-05-03 20:10:27.733000
2014-03-21 10:39:42.667000
appCat.unknown
count     14.000000
mean      29.243786
std       39.877740
min        1.003000
25%        6.132750
50%       16.088000
75%       36.876000
max      155.677000
Name: value, dtype: float64
count                               14
mean     2014-03-31 12:23:56.703500032
min         2014-03-20 23:33:38.079000
25%      2014-03-25 18:19:20.874249984
50%      2014-03-25 18:54:25.367500032
75%      2014-03-30 00:15:24.364250112
max         2014-05-03 14:02:21.256000
Name: time, dtype: object
DIFFERENCE FOR appCat.unknown 43 days 14:28:43.177000
2014-05-03 14:02:21.256000
2014-03-20 23:33:38.079000
appCat.utilities
count    518.000000
mean      22.358442
std       32.376689
min        0.989000
25%        4.022500
50%       14.045000
75%       25.200750
max      358.104000
Name: value, dtype: float64
count                              518
mean     2014-04-13 06:07:48.208158464
min         2014-03-20 23:22:49.928000
25%      2014-04-01 13:08:09.882500096
50%      2014-04-14 09:32:18.881000192
75%      2014-04-24 18:26:01.038249984
max         2014-05-05 09:41:03.888000
Name: time, dtype: object
DIFFERENCE FOR appCat.utilities 45 days 10:18:13.960000
2014-05-05 09:41:03.888000
2014-03-20 23:22:49.928000
appCat.weather
count     1.000
mean     30.386
std         NaN
min      30.386
25%      30.386
50%      30.386
75%      30.386
max      30.386
Name: value, dtype: float64
count                             1
mean     2014-03-23 16:21:32.480000
min      2014-03-23 16:21:32.480000
25%      2014-03-23 16:21:32.480000
50%      2014-03-23 16:21:32.480000
75%      2014-03-23 16:21:32.480000
max      2014-03-23 16:21:32.480000
Name: time, dtype: object
DIFFERENCE FOR appCat.weather 0 days 00:00:00
2014-03-23 16:21:32.480000
2014-03-23 16:21:32.480000
PERSON 2
mood
count    159.000000
mean       6.773585
std        1.257507
min        3.000000
25%        6.000000
50%        7.000000
75%        8.000000
max       10.000000
Name: value, dtype: float64
count                              159
mean     2014-04-03 19:39:14.716980992
min                2014-03-16 15:00:00
25%                2014-03-25 16:30:00
50%                2014-04-03 09:00:00
75%                2014-04-13 03:00:00
max                2014-04-25 21:00:00
Name: time, dtype: object
DIFFERENCE FOR mood 40 days 06:00:00
2014-04-25 21:00:00
2014-03-16 15:00:00
circumplex.arousal
count    159.000000
mean      -0.402516
std        1.019553
min       -2.000000
25%       -1.000000
50%       -1.000000
75%        0.000000
max        2.000000
Name: value, dtype: float64
count                              159
mean     2014-04-03 19:39:14.716980992
min                2014-03-16 15:00:00
25%                2014-03-25 16:30:00
50%                2014-04-03 09:00:00
75%                2014-04-13 03:00:00
max                2014-04-25 21:00:00
Name: time, dtype: object
DIFFERENCE FOR circumplex.arousal 40 days 06:00:00
2014-04-25 21:00:00
2014-03-16 15:00:00
circumplex.valence
count    159.000000
mean       0.289308
std        0.895459
min       -2.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        2.000000
Name: value, dtype: float64
count                              159
mean     2014-04-03 19:39:14.716980992
min                2014-03-16 15:00:00
25%                2014-03-25 16:30:00
50%                2014-04-03 09:00:00
75%                2014-04-13 03:00:00
max                2014-04-25 21:00:00
Name: time, dtype: object
DIFFERENCE FOR circumplex.valence 40 days 06:00:00
2014-04-25 21:00:00
2014-03-16 15:00:00
activity
count    687.000000
mean       0.270656
std        0.234689
min        0.000000
25%        0.052403
50%        0.205357
75%        0.444864
max        0.963303
Name: value, dtype: float64
count                              687
mean     2014-04-01 07:45:45.851528448
min                2014-03-17 17:00:00
25%                2014-03-25 00:30:00
50%                2014-04-01 05:00:00
75%                2014-04-08 16:30:00
max                2014-04-24 02:00:00
Name: time, dtype: object
DIFFERENCE FOR activity 37 days 09:00:00
2014-04-24 02:00:00
2014-03-17 17:00:00
screen
count    4838.000000
mean       36.274168
std       110.859989
min         0.133000
25%         6.870500
50%        11.313000
75%        30.349750
max      2538.942000
Name: value, dtype: float64
count                             4838
mean     2014-03-30 07:16:26.331417856
min         2014-03-14 09:44:27.578000
25%      2014-03-22 09:04:36.122500096
50%         2014-03-30 13:20:25.240000
75%      2014-04-07 08:47:15.611749888
max         2014-04-22 17:57:16.316000
Name: time, dtype: object
DIFFERENCE FOR screen 39 days 08:12:48.738000
2014-04-22 17:57:16.316000
2014-03-14 09:44:27.578000
call
count    451.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0
Name: value, dtype: float64
count                              451
mean     2014-03-24 09:25:07.226193152
min         2014-02-17 07:00:52.197000
25%      2014-03-08 14:39:42.649500160
50%      2014-03-22 16:46:50.046000128
75%      2014-04-09 16:05:51.328499968
max         2014-04-23 23:11:08.657000
Name: time, dtype: object
DIFFERENCE FOR call 65 days 16:10:16.460000
2014-04-23 23:11:08.657000
2014-02-17 07:00:52.197000
sms
count    81.0
mean      1.0
std       0.0
min       1.0
25%       1.0
50%       1.0
75%       1.0
max       1.0
Name: value, dtype: float64
count                               81
mean     2014-03-20 20:40:25.195345664
min         2014-02-17 11:46:41.572000
25%         2014-02-28 15:00:15.904000
50%         2014-03-16 12:22:57.700000
75%         2014-04-14 13:49:51.328000
max         2014-04-23 13:30:29.357000
Name: time, dtype: object
DIFFERENCE FOR sms 65 days 01:43:47.785000
2014-04-23 13:30:29.357000
2014-02-17 11:46:41.572000
appCat.builtin
count     4075.000000
mean        16.087972
std        261.356004
min        -44.689000
25%          2.104000
50%          4.581000
75%         10.439000
max      16363.074000
Name: value, dtype: float64
count                             4075
mean     2014-03-29 20:23:37.072643584
min         2014-03-14 09:48:04.032000
25%      2014-03-21 23:51:22.382999808
50%      2014-03-29 13:27:49.256999936
75%      2014-04-05 23:46:35.538500096
max         2014-04-19 07:19:00.522000
Name: time, dtype: object
DIFFERENCE FOR appCat.builtin 35 days 21:30:56.490000
2014-04-19 07:19:00.522000
2014-03-14 09:48:04.032000
appCat.communication
count    2449.000000
mean       31.337751
std        76.662333
min         0.007000
25%         5.934000
50%        11.602000
75%        31.702000
max      1945.317000
Name: value, dtype: float64
count                             2449
mean     2014-03-30 00:40:20.124200704
min         2014-03-14 09:44:32.766000
25%      2014-03-21 13:01:33.775000064
50%      2014-03-30 20:29:25.028999936
75%      2014-04-07 11:28:47.788999936
max         2014-04-19 07:21:32.440000
Name: time, dtype: object
DIFFERENCE FOR appCat.communication 35 days 21:36:59.674000
2014-04-19 07:21:32.440000
2014-03-14 09:44:32.766000
appCat.entertainment
count     418.000000
mean       43.113950
std       120.705748
min        -0.011000
25%         3.727250
50%         9.957000
75%        21.257750
max      1598.421000
Name: value, dtype: float64
count                              418
mean     2014-04-01 09:50:17.795076608
min         2014-03-14 12:16:17.948000
25%         2014-03-26 01:29:14.652000
50%      2014-04-02 02:03:41.462000128
75%      2014-04-09 13:46:55.429250048
max         2014-04-15 07:40:39.859000
Name: time, dtype: object
DIFFERENCE FOR appCat.entertainment 31 days 19:24:21.911000
2014-04-15 07:40:39.859000
2014-03-14 12:16:17.948000
appCat.other
count    213.000000
mean      17.747254
std       22.990019
min        0.018000
25%        8.031000
50%       11.192000
75%       20.822000
max      242.331000
Name: value, dtype: float64
count                              213
mean     2014-03-29 04:21:12.956258304
min         2014-03-14 09:43:22.739000
25%      2014-03-20 18:16:22.321999872
50%         2014-03-29 19:42:14.864000
75%         2014-04-04 21:21:54.316000
max         2014-04-14 18:40:08.857000
Name: time, dtype: object
DIFFERENCE FOR appCat.other 31 days 08:56:46.118000
2014-04-14 18:40:08.857000
2014-03-14 09:43:22.739000
appCat.social
count     561.000000
mean       26.770813
std       120.156885
min         0.094000
25%         3.948000
50%        10.007000
75%        21.106000
max      2015.962000
Name: value, dtype: float64
count                              561
mean     2014-03-31 10:48:20.428711168
min         2014-03-14 17:29:46.901000
25%      2014-03-24 10:00:18.303000064
50%      2014-03-31 11:21:53.543000064
75%         2014-04-07 20:00:06.828000
max         2014-04-22 17:57:16.384000
Name: time, dtype: object
DIFFERENCE FOR appCat.social 39 days 00:27:29.483000
2014-04-22 17:57:16.384000
2014-03-14 17:29:46.901000
appCat.travel
count    303.000000
mean      21.155277
std       32.223850
min        0.333000
25%        5.000500
50%       10.888000
75%       29.085000
max      349.940000
Name: value, dtype: float64
count                              303
mean     2014-03-30 09:08:10.969989888
min         2014-03-15 11:46:57.217000
25%      2014-03-22 15:08:22.150499840
50%      2014-03-29 09:23:10.320999936
75%      2014-04-11 21:09:13.048499968
max         2014-04-13 20:47:08.039000
Name: time, dtype: object
DIFFERENCE FOR appCat.travel 29 days 09:00:10.822000
2014-04-13 20:47:08.039000
2014-03-15 11:46:57.217000
appCat.utilities
count    28.000000
mean      5.738643
std       6.732339
min       1.006000
25%       1.796000
50%       3.241500
75%       6.199000
max      30.094000
Name: value, dtype: float64
count                               28
mean     2014-04-04 14:16:20.164250112
min         2014-03-27 13:59:02.842000
25%      2014-03-27 14:21:59.695749888
50%      2014-03-27 14:47:56.199000064
75%      2014-04-14 16:10:27.974249984
max         2014-04-14 19:05:33.322000
Name: time, dtype: object
DIFFERENCE FOR appCat.utilities 18 days 05:06:30.480000
2014-04-14 19:05:33.322000
2014-03-27 13:59:02.842000
PERSON 3
mood
count    221.000000
mean       7.583710
std        0.693153
min        6.000000
25%        7.000000
50%        8.000000
75%        8.000000
max        9.000000
Name: value, dtype: float64
count                              221
mean     2014-04-13 22:19:16.561085952

In [151]:
df_person_1 = df[df["id_num"] == 1].copy()

# df_person_1["time"].nunique()

# count which number occurs twice

# split the values into variable columns with unique time values

# count unique days in time
# print(df_person_1["time"].dt.date.nunique())

# rename time into date-time
df_person_1 = df_person_1.rename(columns={"time": "datetime"})
df_person_1["date"] = df_person_1["datetime"].dt.date
df_person_1["hour"] = df_person_1["datetime"].dt.hour
df_person_1["minute"] = df_person_1["datetime"].dt.minute
df_person_1

,Unnamed: 0,id,datetime,variable,value,id_num,date,hour,minute
0,1,AS14.01,2014-02-26 13:00:00.000,mood,6.000,1,2014-02-26,13,0
1,2,AS14.01,2014-02-26 15:00:00.000,mood,6.000,1,2014-02-26,15,0
2,3,AS14.01,2014-02-26 18:00:00.000,mood,6.000,1,2014-02-26,18,0
3,4,AS14.01,2014-02-26 21:00:00.000,mood,7.000,1,2014-02-26,21,0
4,5,AS14.01,2014-02-27 09:00:00.000,mood,6.000,1,2014-02-27,9,0
...,...,...,...,...,...,...,...,...,...
374684,2348657,AS14.01,2014-05-05 00:15:26.313,appCat.utilities,164.567,1,2014-05-05,0,15
374685,2348659,AS14.01,2014-05-05 00:18:14.953,appCat.utilities,48.138,1,2014-05-05,0,18
374686,2348660,AS14.01,2014-05-05 00:19:42.322,appCat.utilities,48.156,1,2014-05-05,0,19
374687,2348691,AS14.01,2014-05-05 09:41:03.888,appCat.utilities,3.470,1,2014-05-05,9,41
376657,2568328,AS14.01,2014-03-23 16:21:32.480,appCat.weather,30.386,1,2014-03-23,16,21

In [152]:
def get_time_descriptives(df, participant: int):
    """
    Get time descriptives for a given participant.
    """
    # Filter for the participant
    df_person = df[df["id_num"] == participant].copy()

    # rename time into datetime
    # print(df_person.columns) 
    
    # Group by variable and compute descriptive statistics
    stats = df_person.groupby("variable")["time"].agg(
        count_non_missing = "count",
        min_time = "min",
        max_time = "max"
    )
    # Count missing values per variable
    stats["n_missing"] = df_person.groupby("variable")["time"].apply(lambda x: x.isna().sum())
    # Calculate the time range (difference between max and min)
    stats["time_range"] = stats["max_time"] - stats["min_time"]
    
    # Optionally, reset the index for a nicer display
    stats = stats.reset_index()
    return stats


def plot_time_ranges(df, participant, save_fig=True, show_plot=True):
    """
    Plot the time range for each variable for a given participant.
    """
    # Get descriptive stats for plotting
    stats = get_time_descriptives(df, participant)
    
    # Create the plot
    fig, ax = plt.subplots(figsize=(12, 0.3 * len(stats)))  # Adjust height based on number of variables
    
    # Loop over each variable to draw its time range as a horizontal line
    earliest = stats["min_time"].min()
    latest = stats["max_time"].max()
    for idx, row in stats.iterrows():
        ax.hlines(y=idx, xmin=row["min_time"], xmax=row["max_time"], color='blue', lw=2)

        # Optionally, mark the endpoints
        if row["min_time"] == earliest:
            ax.plot(row["min_time"], idx, "o", color='purple')
        else:
            ax.plot(row["min_time"], idx, "o", color='green')
        if row["max_time"] == latest:
            ax.plot(row["max_time"], idx, "o", color='darkred')
        else:
            ax.plot(row["max_time"], idx, "o", color='red')

    # higlight background between the earliest and latest time of mood
    earliest_mood = stats[stats["variable"] == "mood"]["min_time"].values[0]
    latest_mood = stats[stats["variable"] == "mood"]["max_time"].values[0]
    ax.axvspan(earliest_mood, latest_mood, alpha=0.1, color='yellow')


    # get the earliest and latest time and write it to the plot

    plt.text(earliest, 5, earliest, color='black', fontsize=12)
    plt.text(latest, 5, latest, color='black', fontsize=12)
    
    # line for earliest and latest time
    ax.axvline(earliest, color='black', linestyle='--', lw=1)
    ax.axvline(latest, color='black', linestyle='--', lw=1)
    
    # Customize y-axis with variable names
    ax.set_yticks(range(len(stats)))
    ax.set_yticklabels(stats["variable"])
    ax.set_xlabel("Time")
    ax.set_title("Time Range per Variable for Participant {}".format(participant))


    plt.tight_layout()


    # save figure
    if save_fig:
        if not os.path.exists("figures/time_ranges_per_variable"):
            os.makedirs("figures/time_ranges_per_variable")
        plt.savefig(f"figures/time_ranges_per_variable/time_range_plot_p{participant}.png")
    
    # add one legend for all lines

    if show_plot:
        plt.show()
    else:
        plt.close()



for person in df["id_num"].unique():
    # print(f"Participant {person}")
    stats = get_time_descriptives(df, person)
    # print(stats)
    plot_time_ranges(df, person, save_fig=True, show_plot=False)

## Create daily pivot for particiapnt per day

In [169]:

def create_daily_pivot(df, participant="all", return_dict=False, counts=True):
    """
    Create a daily pivot table for a given participant or all participants or list of participants.
    
    Each row corresponds to a day (from the earliest to the latest day the participant has data),
    each column corresponds to a variable, and if multiple datapoints occur on a given day,
    the value is aggregated as the mean. Days with no data for a variable are represented as NaN.
    
    Parameters:
        df (pd.DataFrame): DataFrame containing at least the columns 'id_num', 'time', 
                           'variable', and 'value'. The 'time' column should be in datetime format.
        participant: Either "all" (to process all participants), a single participant id, or a list of participant ids.
        return_dict (bool): If True, returns a dictionary of pivot tables (keyed by participant).
                            Otherwise, returns a single DataFrame with 'id_num' and 'day' as columns.
        counts (bool): If True, includes a count of the number of values for each variable per day.
    
    Returns:
        Either a dict mapping participant IDs to their daily pivot table or a combined DataFrame.
    """
    # Determine the list of participant IDs to process
    if participant == "all":
        participants = df["id_num"].unique()
    elif isinstance(participant, list):
        participants = participant
    else:
        participants = [participant]
    
    # Ensure the time column is in datetime format
    df_copy = df.copy()
    if not pd.api.types.is_datetime64_any_dtype(df_copy["time"]):
        df_copy["time"] = pd.to_datetime(df_copy["time"])
    
    # Create a column with just the day (flooring the datetime to day)
    df_copy["day"] = df_copy["time"].dt.floor("D")
    
    pivot_dict = {}
    pivot_list = []
    
    # Process each participant separately
    for part in participants:
        df_part = df_copy[df_copy["id_num"] == part].copy()

        # get a count of the number of values of variable per day
        df_part["comprising_of"] = df_part.groupby(["day", "variable"])["value"].transform("count")

        # select the mean aggregation columns, time values should be aggregated by sum
        mean_agg = ["mood", "circumplex.valence", "circumplex.arousal", "activity"] # not sure about activity
        sum_agg = [col for col in df_part["variable"].unique() if col not in mean_agg + ["id_num", "time", "day"]]
        
        # Create a new DataFrame with the selected columns
        df_part_sum = df_part[df_part["variable"].isin(sum_agg)].copy()


    
        pivot_sum = df_part_sum.pivot_table(index="day",
                                            columns="variable", 
                                            values="value", 
                                            aggfunc="sum")

        df_part_mean = df_part[df_part["variable"].isin(mean_agg)].copy()
        pivot_mean = df_part_mean.pivot_table(index="day",
                                              columns="variable", 
                                              values="value", 
                                              aggfunc="mean")
    
        # get the count of the number of values comprising the variable per day
        pivot_count = df_part.pivot_table(index="day",
                                    columns="variable",
                                    values="value",
                                    aggfunc="count")
        #nans are 0
        pivot_count = pivot_count.fillna(0)
        pivot_count = pivot_count.add_suffix("_count")

        # Combine the two pivot tables
        pivot = pd.concat([pivot_sum, pivot_mean], axis=1)

        if counts:
            pivot = pd.concat([pivot, pivot_count], axis=1)
                                            
        # Create a complete date range from the earliest to the latest day for this participant
        full_range = pd.date_range(start=df_part["day"].min(), end=df_part["day"].max(), freq="D")
        pivot = pivot.reindex(full_range)
        pivot.index.name = "day"
        
        # Convert index to a column and add participant id
        pivot = pivot.reset_index()
        pivot["id_num"] = part

        # reorder the columns
        desired_order = ["id_num", "day", "mood", "screen", "activity", "circumplex.valence", "circumplex.arousal", "call", "sms"]
        if counts:
            desired_order = ["id_num", "day", "mood", "mood_count", "screen", "screen_count", "activity", "activity_count", "circumplex.valence","circumplex.valence_count", "circumplex.arousal","circumplex.arousal_count", "call", "call_count", "sms", "sms_count"]

        other_columns = [p for p in pivot.columns if p not in desired_order]
        new_order = desired_order + other_columns
        pivot = pivot[new_order]

        # rearrange the columns to have the id_num, day, mood, screen, activity, circumplex.valence, circumplex.arousal then the rest

        if return_dict:
            pivot_dict[part] = pivot
        else:
            pivot_list.append(pivot)
    
    if return_dict:
        return pivot_dict
    else:
        # Concatenate the list of dataframes without setting a multi-index so that
        # both 'day' and 'id_num' remain as regular columns
        combined = pd.concat(pivot_list, ignore_index=True)
        # sort by id_num and day
        combined = combined.sort_values(by=["id_num", "day"])
        # save the combined dataframe to a csv file
        if not os.path.exists("tables/pivot_tables_daily"):
            os.makedirs("tables/pivot_tables_daily")
        combined.to_csv(f"tables/pivot_tables_daily/daily_pivot_table_{participant}.csv", index=False)
        return combined

# For a single participant:
single_pivot = create_daily_pivot(df, participant=1)
single_pivot.describe()

# For multiple participants combined into one DataFrame:
combined_pivot = create_daily_pivot(df, participant="all", return_dict=False)

# For a dictionary of separate pivot tables:
pivot_dict = create_daily_pivot(df, participant=[1,2,3], return_dict=True)
# print(pivot_dict.values())

combined_pivot.head()

variable,id_num,day,mood,mood_count,screen,screen_count,activity,activity_count,circumplex.valence,circumplex.valence_count,...,appCat.entertainment_count,appCat.finance_count,appCat.game_count,appCat.office_count,appCat.other_count,appCat.social_count,appCat.travel_count,appCat.unknown_count,appCat.utilities_count,appCat.weather_count
0,1,2014-02-17,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2014-02-18,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,2014-02-19,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,2014-02-20,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,2014-02-21,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Plotting daily pivots (histogram and timeseries)

In [154]:
def plotly_all_participants_histograms(df, save_html=True, show_plot=True):
    """
    Plot histograms for all participants per variable, with toggle to show specific participants.
    """
    df["date"] = pd.to_datetime(df["timestamp"]).dt.date
    grouped = df.groupby(["participant", "date"]).mean().reset_index()
    variables = [col for col in grouped.columns if col not in ["participant", "date"]]
    participants = grouped["participant"].unique()

    fig = make_subplots(rows=len(variables), cols=1, subplot_titles=variables)

    visibility_map = []

    for row_idx, var in enumerate(variables, 1):
        for pid in participants:
            pid_data = grouped[grouped["participant"] == pid]
            trace = go.Histogram(
                x=pid_data[var],
                name=str(pid),
                legendgroup=str(pid),
                opacity=0.6,
                showlegend=(row_idx == 1),
                visible=True if row_idx == 1 else False
            )
            fig.add_trace(trace, row=row_idx, col=1)
            visibility_map.append((row_idx, pid))

    # Dropdown toggle
    buttons = []
    for pid in participants:
        visible = []
        for (row, p) in visibility_map:
            visible.append(p == pid)
        buttons.append(dict(
            label=f"Participant {pid}",
            method="update",
            args=[{"visible": visible},
                  {"title": f"Histograms - Participant {pid}"}]
        ))

    buttons.insert(0, dict(
        label="Show All",
        method="update",
        args=[{"visible": [True] * len(visibility_map)},
              {"title": "Histograms - All Participants"}]
    ))

    fig.update_layout(
        height=300 * len(variables),
        title="Histograms - All Participants",
        barmode="overlay",
        updatemenus=[{
            "buttons": buttons,
            "direction": "down",
            "showactive": True,
            "x": 1.02,
            "xanchor": "left",
            "y": 1,
            "yanchor": "top"
        }]
    )

    if save_html:
        os.makedirs("figures/daily_pivot", exist_ok=True)
        fig.write_html("figures/daily_pivot/all_participants_histograms.html")

    if show_plot:
        fig.show()

## Plotting daily pivot table with Plotly (interactive html graphs)

In [170]:
def plotly_all_participants_timeseries(df, save_html=True, show_plot=True):
    """
    Plot time series for all participants, one line per participant per variable,
    with a dropdown toggle to show specific participants.
    
    The function expects a daily pivot table DataFrame with a column "day" (date)
    and "id_num" (participant identifier) along with other numeric variable columns.
    
    Parameters:
        df (pd.DataFrame): DataFrame that will be used by create_daily_pivot.
        save_html (bool): Whether to save the figure as an HTML file.
        show_plot (bool): Whether to display the plot.
    """
    # Get the daily pivot table for all participants.
    # This function should return a DataFrame with columns "day", "id_num", and variable columns.
    df_plot = create_daily_pivot(df, participant="all", return_dict=False)
    
    # Make sure "day" is a column; if it's not, throw an error.
    if "day" not in df_plot.columns:
        raise ValueError("Expected a 'day' column in the DataFrame.")
    
    # Convert "day" to a proper date format and rename as "date" for clarity
    df_plot["date"] = pd.to_datetime(df_plot["day"]).dt.date

    # Check that 'id_num' is present.
    if "id_num" not in df_plot.columns:
        raise ValueError("Expected a column 'id_num' to identify participants.")
    
    # Identify numeric columns (i.e. variables)
    numeric_cols = df_plot.select_dtypes(include="number").columns.tolist()
    # Remove group-by columns if present
    group_cols = ["id_num", "day", "date"]
    variables = [col for col in df_plot.columns if col not in group_cols]
    
    # Group by participant and date (if needed, here our pivot table should already be daily)
    # In case there are multiple entries per date for a participant (unlikely after pivoting),
    # we aggregate them by mean.
    grouped = df_plot.groupby(["id_num", "date"])[variables].mean(numeric_only=True).reset_index()
    
    participants = grouped["id_num"].unique()

    # Create a subplot for each variable, sharing the same x-axis.
    fig = make_subplots(
        rows=len(variables), cols=1, shared_xaxes=True,
        vertical_spacing=0.03, subplot_titles=variables
    )

    # This list will help map each trace to its participant for the dropdown.
    visibility_map = []

    # Create one trace per participant per variable.
    for row_idx, var in enumerate(variables, 1):
        for pid in participants:
            pid_data = grouped[grouped["id_num"] == pid]
            fig.add_trace(
                go.Scatter(
                    x=pid_data["date"],
                    y=pid_data[var],
                    mode="lines+markers",
                    name=f"Participant {pid}",
                    legendgroup=str(pid),
                    visible=True if row_idx == 1 else False,  # only show all for first subplot initially
                    showlegend=(row_idx == 1)
                ),
                row=row_idx, col=1
            )
            visibility_map.append((row_idx, pid))

    # Create dropdown buttons to toggle traces by participant.
    buttons = []
    for pid in participants:
        # Build visibility list: each trace is visible only if its participant matches pid.
        visible = []
        for (row, p) in visibility_map:
            visible.append(p == pid)
        buttons.append(dict(
            label=f"Participant {pid}",
            method="update",
            args=[{"visible": visible},
                  {"title": f"Time Series - Participant {pid}"}]
        ))

    # Add a button to show all participants.
    buttons.insert(0, dict(
        label="Show All",
        method="update",
        args=[{"visible": [True] * len(visibility_map)},
              {"title": "Time Series - All Participants"}]
    ))

    fig.update_layout(
        height=300 * len(variables),
        title="Time Series - All Participants",
        updatemenus=[{
            "buttons": buttons,
            "direction": "down",
            "showactive": True,
            "x": 1.02,
            "xanchor": "left",
            "y": 1,
            "yanchor": "top"
        }],
        hovermode="x unified"
    )

    # Optionally save as HTML.
    if save_html:
        outdir = "figures/plotly/all_participants"
        os.makedirs(outdir, exist_ok=True)
        fig.write_html(os.path.join(outdir, "all_participants_timeseries.html"))

    # Show the figure if requested.
    if show_plot:
        fig.show()

# Example usage:
plotly_all_participants_timeseries(df, save_html=True, show_plot=True)

ValueError: Vertical spacing cannot be greater than (1 / (rows - 1)) = 0.027027.
The resulting plot would have 38 rows (rows=38).

## Interactive histograms

In [171]:
def plotly_all_participants_histograms(df, save_html=True, show_plot=True):
    """
    Plot histograms for all participants, one histogram per variable,
    with a dropdown toggle to show specific participants.
    
    The function expects a daily pivot table DataFrame with a column "day" (date)
    and "id_num" (participant identifier) along with other numeric variable columns.
    
    Parameters:
        df (pd.DataFrame): DataFrame that will be used by create_daily_pivot.
        save_html (bool): Whether to save the figure as an HTML file.
        show_plot (bool): Whether to display the plot.
    """
    # Get the daily pivot table for all participants.
    # This function should return a DataFrame with columns "day", "id_num", and variable columns.
    df_plot = create_daily_pivot(df, participant="all", return_dict=False)
    
    # Make sure "day" is a column; if it's not, throw an error.
    if "day" not in df_plot.columns:
        raise ValueError("Expected a 'day' column in the DataFrame.")
    
    # Convert "day" to a proper date format and also create a 'date' column (for clarity)
    df_plot["date"] = pd.to_datetime(df_plot["day"]).dt.date

    # Check that 'id_num' is present.
    if "id_num" not in df_plot.columns:
        raise ValueError("Expected a column 'id_num' to identify participants.")
    
    # Identify variable columns by excluding group-by columns.
    group_cols = ["id_num", "day", "date"]
    variables = [col for col in df_plot.columns if col not in group_cols]
    
    # Group by participant and date (this should be daily data, but we aggregate if needed)
    grouped = df_plot.groupby(["id_num", "date"])[variables].mean(numeric_only=True).reset_index()
    
    participants = grouped["id_num"].unique()

    # Create a subplot for each variable.
    fig = make_subplots(
        rows=len(variables), cols=1, shared_xaxes=False,
        vertical_spacing=0.03, subplot_titles=variables
    )

    # Map each trace to its participant for the dropdown toggle.
    visibility_map = []

    # Create one histogram trace per participant per variable.
    for row_idx, var in enumerate(variables, 1):
        for pid in participants:
            pid_data = grouped[grouped["id_num"] == pid]
            fig.add_trace(
                go.Histogram(
                    x=pid_data[var],
                    name=f"Participant {pid}",
                    legendgroup=str(pid),
                    visible=True if row_idx == 1 else False,  # show all traces for the first subplot initially
                    showlegend=(row_idx == 1)
                ),
                row=row_idx, col=1
            )
            visibility_map.append((row_idx, pid))
    
    # Create dropdown buttons to toggle traces by participant.
    buttons = []
    for pid in participants:
        # Build visibility list: each trace is visible only if its participant matches pid.
        visible = []
        for (row, p) in visibility_map:
            visible.append(p == pid)
        buttons.append(dict(
            label=f"Participant {pid}",
            method="update",
            args=[{"visible": visible},
                  {"title": f"Histograms - Participant {pid}"}]
        ))
    
    # Add a button to show all participants.
    buttons.insert(0, dict(
        label="Show All",
        method="update",
        args=[{"visible": [True] * len(visibility_map)},
              {"title": "Histograms - All Participants"}]
    ))
    
    fig.update_layout(
        height=300 * len(variables),
        title="Histograms - All Participants",
        updatemenus=[{
            "buttons": buttons,
            "direction": "down",
            "showactive": True,
            "x": 1.02,
            "xanchor": "left",
            "y": 1,
            "yanchor": "top"
        }],
        barmode="overlay",
        hovermode="x unified"
    )
    
    # Optionally save the figure as HTML.
    if save_html:
        outdir = "figures/plotly/all_participants"
        os.makedirs(outdir, exist_ok=True)
        fig.write_html(os.path.join(outdir, "all_participants_histograms.html"))
    
    # Show the figure if requested.
    if show_plot:
        fig.show()

# Example usage:
plotly_all_participants_histograms(df, save_html=True, show_plot=False)

ValueError: Vertical spacing cannot be greater than (1 / (rows - 1)) = 0.027027.
The resulting plot would have 38 rows (rows=38).

In [157]:
import os
import itertools
import pandas as pd
import numpy as np
import plotly.graph_objects as go
from plotly.subplots import make_subplots

def plotly_all_participants_correlations(df, save_html=True, show_plot=True):
    """
    Create an interactive correlation analysis figure.
    
    For each participant option (either all participants combined or individual participants)
    and for each scatter plot variable pair (chosen from the numeric variables), this function creates:
    
    1. A heatmap correlation matrix (top row) computed on all numeric variables available for that participant.
    2. A scatter plot (bottom row) for the selected variable pair.
    
    A single combined update menu (dropdown) allows the user to select the (participant, variable pair)
    combination to display.
    
    Parameters:
      df (pd.DataFrame): DataFrame that will be used by create_daily_pivot.
                         Expected to contain at least 'id_num', 'day', and numeric variable columns.
      save_html (bool): Whether to save the figure as an HTML file.
      show_plot (bool): Whether to display the plot.
      
    Notes:
      - This function handles lots of NaNs by relying on pandas .corr() (which computes pairwise correlations).
      - It creates separate traces for each combination, and uses an update menu to toggle visibility.
    """
    # Create the daily pivot table for all participants.
    # Use return_dict=True to get separate DataFrames for each participant.
    pivot_dict = create_daily_pivot(df, participant="all", return_dict=True)
    
    # Also create an "all" option by concatenating all participants' data.
    df_all = pd.concat(pivot_dict.values(), ignore_index=True)
    pivot_dict["all"] = df_all
    
    # Identify participant options. They will be the keys of pivot_dict.
    participant_options = list(pivot_dict.keys())
    
    # Assume the numeric variables are those not in the grouping columns:
    group_cols = ["id_num", "day"]
    sample_df = pivot_dict[participant_options[0]]
    all_vars = list(sample_df.columns)
    numeric_vars = [col for col in all_vars if col not in group_cols and col != "date"]
    
    # Optionally force a specific order for some variables.
    desired_order = ["mood", "screen", "activity", "circumplex.valence", "circumplex.arousal"]
    ordered_vars = [v for v in desired_order if v in numeric_vars] + [v for v in numeric_vars if v not in desired_order]
    numeric_vars = ordered_vars

    # Create a list of scatter plot pairs. Here we take all unordered pairs.
    scatter_pairs = list(itertools.combinations(numeric_vars, 2))
    if not scatter_pairs:
        raise ValueError("Not enough numeric variables to form scatter plot pairs.")

    # Build a figure with 2 rows: row 1 for the heatmap, row 2 for the scatter plot.
    fig = make_subplots(
        rows=2, cols=1,
        row_heights=[0.5, 0.5],
        vertical_spacing=0.1,
        subplot_titles=("Correlation Matrix", "Scatter Plot")
    )
    
    # This list will be used to later update trace visibility.
    trace_visibility_defaults = []
    # Map (participant, scatter_pair index) to a "visible" vector.
    visibility_dict = {}
    
    # --- Create heatmap traces for each participant option.
    heatmap_traces = []
    for p_idx, p in enumerate(participant_options):
        df_p = pivot_dict[p]
        # Use only the numeric variables that are actually in df_p.
        available_vars = [col for col in numeric_vars if col in df_p.columns]
        if available_vars:
            df_corr = df_p[available_vars].corr()
            heat_trace = go.Heatmap(
                z = df_corr.values,
                x = df_corr.columns.tolist(),
                y = df_corr.index.tolist(),
                colorbar=dict(title="r"),
                visible=False  # update later
            )
        else:
            # If no variables exist for this participant, create an empty trace.
            heat_trace = go.Heatmap(z=[], x=[], y=[], visible=False)
        heatmap_traces.append(heat_trace)
        fig.add_trace(heat_trace, row=1, col=1)
        trace_visibility_defaults.append(False)
    
    # --- Create scatter plot traces for each participant and each scatter pair.
    scatter_traces = []
    for p_idx, p in enumerate(participant_options):
        df_p = pivot_dict[p]
        for sp_idx, (var_x, var_y) in enumerate(scatter_pairs):
            # Only use data if both variables exist for the participant.
            if var_x in df_p.columns and var_y in df_p.columns:
                scatter_trace = go.Scatter(
                    x = df_p[var_x],
                    y = df_p[var_y],
                    mode = "markers",
                    marker = dict(size=8, opacity=0.7),
                    name = f"{p} - {var_x} vs {var_y}",
                    visible = False  # update later
                )
            else:
                # Create an empty trace if one or both variables are missing.
                scatter_trace = go.Scatter(
                    x = [],
                    y = [],
                    mode = "markers",
                    marker = dict(size=8, opacity=0.7),
                    name = f"{p} - {var_x} vs {var_y}",
                    visible = False
                )
            scatter_traces.append(scatter_trace)
            fig.add_trace(scatter_trace, row=2, col=1)
            trace_visibility_defaults.append(False)
    
    total_traces = len(heatmap_traces) + len(scatter_traces)
    
    # Build mapping from (participant, scatter_pair index) to a full "visible" vector.
    for p_idx, p in enumerate(participant_options):
        for sp_idx in range(len(scatter_pairs)):
            # Create a boolean list (one per trace) initialized to False.
            visible = [False] * total_traces
            # For the heatmap: only the trace for participant p should be visible.
            visible[p_idx] = True
            # For scatter traces, they are arranged in blocks per participant.
            scatter_trace_index = len(heatmap_traces) + p_idx * len(scatter_pairs) + sp_idx
            visible[scatter_trace_index] = True
            visibility_dict[(p, sp_idx)] = visible

    # Set the default selection: use participant "all" and the first scatter pair.
    default_key = ("all", 0)
    default_visible = visibility_dict[default_key]
    for i, vis in enumerate(default_visible):
        fig.data[i].visible = vis

    # --- Create an update menu with one button per (participant, scatter pair) combination.
    menu_buttons = []
    for p in participant_options:
        for sp_idx, (var_x, var_y) in enumerate(scatter_pairs):
            label = f"{'All' if p=='all' else 'Participant '+str(p)}: {var_x} vs {var_y}"
            visible = visibility_dict[(p, sp_idx)]
            button = dict(
                label = label,
                method = "update",
                args = [
                    {"visible": visible},
                    {"title": f"Correlation Analysis - {'All' if p=='all' else 'Participant '+str(p)}: {var_x} vs {var_y}"}
                ]
            )
            menu_buttons.append(button)
    
    # Update the layout with the dropdown menu.
    fig.update_layout(
        updatemenus=[{
            "buttons": menu_buttons,
            "direction": "down",
            "showactive": True,
            "x": 1.05,
            "xanchor": "left",
            "y": 1,
            "yanchor": "top"
        }],
        height=800,
        title="Correlation Analysis"
    )
    
    # Optionally save as HTML.
    if save_html:
        outdir = "figures/plotly/correlations"
        os.makedirs(outdir, exist_ok=True)
        fig.write_html(os.path.join(outdir, "correlations.html"))
    
    if show_plot:
        fig.show()

plotly_all_participants_correlations(df, save_html=True, show_plot=False)

0         4
1         4
2         4
3         4
4         3
         ..
374684    4
374685    4
374686    4
374687    4
376657    1
Name: comprising_of, Length: 21999, dtype: int64
length of comprising_of 21999
length of df_part 21999
222       3
223       3
224       3
225       4
226       4
         ..
374711    9
374712    9
374713    9
374714    9
374715    9
Name: comprising_of, Length: 14581, dtype: int64
length of comprising_of 14581
length of df_part 14581
381       2
382       2
383       5
384       5
385       5
         ..
374745    1
374746    1
376658    1
376659    2
376660    2
Name: comprising_of, Length: 14425, dtype: int64
length of comprising_of 14425
length of df_part 14425
602       1
603       5
604       5
605       5
606       5
         ..
374886    4
374887    4
374888    4
374889    1
374890    1
Name: comprising_of, Length: 15745, dtype: int64
length of comprising_of 15745
length of df_part 15745
843       1
844       5
845       5
846       5
847       5
         ..
376668    2
376669    1
376670    1
376671    1
376672    1
Name: comprising_of, Length: 18092, dtype: int64
length of comprising_of 18092
length of df_part 18092
1046      5
1047      5
1048      5
1049      5
1050      5
         ..
374895    1
374896    1
374897    3
374898    3
374899    3
Name: comprising_of, Length: 16045, dtype: int64
length of comprising_of 16045
length of df_part 16045
1238      3
1239      3
1240      3
1241      5
1242      5
         ..
374953    1
374954    4
374955    4
374956    4
374957    4
Name: comprising_of, Length: 7902, dtype: int64
length of comprising_of 7902
length of df_part 7902
1537      1
1538      3
1539      3
1540      3
1541      4
         ..
376685    6
376686    6
376687    1
376688    1
376689    1
Name: comprising_of, Length: 10886, dtype: int64
length of comprising_of 10886
length of df_part 10886
1734      2
1735      2
1736      4
1737      4
1738      4
         ..
375064    3
375065    3
376690    1
376691    1
376692    1
Name: comprising_of, Length: 17311, dtype: int64
length of comprising_of 17311
length of df_part 17311
1919      1
1920      5
1921      5
1922      5
1923      5
         ..
375072    4
375073    4
375074    4
375075    2
375076    2
Name: comprising_of, Length: 19592, dtype: int64
length of comprising_of 19592
length of df_part 19592
2163      3
2164      3
2165      3
2166      5
2167      5
         ..
373681    3
373682    3
375077    3
375078    3
375079    3
Name: comprising_of, Length: 9286, dtype: int64
length of comprising_of 9286
length of df_part 9286
2327      4
2328      4
2329      4
2330      4
2331      4
         ..
373683    1
375080    1
375081    3
375082    3
375083    3
Name: comprising_of, Length: 2848, dtype: int64
length of comprising_of 2848
length of df_part 2848
2596      2
2597      2
2598      5
2599      5
2600      5
         ..
373684    1
375084    1
375085    1
376693    1
376694    1
Name: comprising_of, Length: 3982, dtype: int64
length of comprising_of 3982
length of df_part 3982
2827      2
2828      2
2829      3
2830      3
2831      3
         ..
375125    1
375126    1
375127    3
375128    3
375129    3
Name: comprising_of, Length: 15826, dtype: int64
length of comprising_of 15826
length of df_part 15826
3064      3
3065      3
3066      3
3067      5
3068      5
         ..
375131    4
375132    4
375133    4
375134    2
375135    2
Name: comprising_of, Length: 11397, dtype: int64
length of comprising_of 11397
length of df_part 11397
3285      1
3286      4
3287      4
3288      4
3289      4
         ..
375137    6
375138    6
375139    6
375140    6
375141    6
Name: comprising_of, Length: 3620, dtype: int64
length of comprising_of 3620
length of df_part 3620
3487      2
3488      2
3489      5
3490      5
3491      5
         ..
375163    2
375164    2
375165    1
375166    1
375167    1
Name: comprising_of, Length: 21852, dtype: int64
length of comprising_of 21852
length of df_part 21852
3646      1
3647      5
3648      5
3649      5
3650      5
         ..
375260    5
375261    5
375262    5
375263    5
375264    1
Name: comprising_of, Length: 14430, dtype: int64
length of comprising_of 14430
length of df_part 14430
3884      2
3885      2
3886      5
3887      5
3888      5
         ..
376723    1
376724    2
376725    2
376726    1
376727    1
Name: comprising_of, Length: 12589, dtype: int64
length of comprising_of 12589
length of df_part 12589
4015       2
4016       2
4017       4
4018       4
4019       4
          ..
376792    12
376793    12
376794    12
376795    12
376796    12
Name: comprising_of, Length: 16403, dtype: int64
length of comprising_of 16403
length of df_part 16403
4344       5
4345       5
4346       5
4347       5
4348       5
          ..
376826    15
376827    15
376828    15
376829    15
376830     1
Name: comprising_of, Length: 14575, dtype: int64
length of comprising_of 14575
length of df_part 14575
4543      2
4544      2
4545      4
4546      4
4547      4
         ..
376891    2
376892    2
376893    1
376894    2
376895    2
Name: comprising_of, Length: 19276, dtype: int64
length of comprising_of 19276
length of df_part 19276
4712      4
4713      4
4714      4
4715      4
4716      4
         ..
375799    2
375800    2
375801    2
375802    2
375803    2
Name: comprising_of, Length: 17499, dtype: int64
length of comprising_of 17499
length of df_part 17499
4899      3
4900      3
4901      3
4902      5
4903      5
         ..
376906    3
376907    1
376908    1
376909    1
376910    1
Name: comprising_of, Length: 17279, dtype: int64
length of comprising_of 17279
length of df_part 17279
5123      3
5124      3
5125      3
5126      5
5127      5
         ..
376356    6
376357    6
376358    6
376359    2
376360    2
Name: comprising_of, Length: 11889, dtype: int64
length of comprising_of 11889
length of df_part 11889
5321      2
5322      2
5323      4
5324      4
5325      4
         ..
376368    7
376369    7
376370    7
376371    7
376911    1
Name: comprising_of, Length: 11193, dtype: int64
length of comprising_of 11193
length of df_part 11193
5449       3
5450       3
5451       3
5452       5
5453       5
          ..
376652    15
376653    15
376654    15
376655    15
376656    15
Name: comprising_of, Length: 16390, dtype: int64
length of comprising_of 16390
length of df_part 16390

## count NANs per variable per participant

In [158]:
def nan_exploration(df):
    """Create a pd dataframe with the percentage of NaN values for each variable per person, along with the count of unique values per variable"""

    unique_participants = df["id_num"].unique()

    # create a pivot
    pivot = create_daily_pivot(df, participant="all", return_dict=False)

    # get the percentage of NaN values for each variable per person
    df_nans_list = []

    for participant in unique_participants:
        # get the pivot for the participant
        pivot_participant = pivot[pivot["id_num"] == participant]
        # get the percentage of NaN values for each variable
        nan_percentage = round(pivot_participant.isna().mean(),3)

        nan_count = pivot_participant.isna().sum()
        # get the count of unique values per variable
        unique_values = pivot_participant.nunique()
        # create a dataframe with the results
        df_nan = pd.DataFrame({"nan_percentage": nan_percentage,"nan_count": nan_count, "unique_values": unique_values})
        df_nan["participant"] = participant
        df_nan = df_nan.reset_index()
        df_nans_list.append(df_nan)

    # concatenate the dataframes
    df_nans = pd.concat(df_nans_list, ignore_index=True)

    # save the dataframe
    if not os.path.exists("tables/nan_exploration"):
        os.makedirs("tables/nan_exploration")
    df_nans.to_csv("tables/nan_exploration/nan_exploration.csv", index=False)
    return df_nans
    

df_nans = nan_exploration(df)

# sort df_nans by nan_percentage
df_nans = df_nans.sort_values(by=["nan_percentage"], ascending=False)

0         4
1         4
2         4
3         4
4         3
         ..
374684    4
374685    4
374686    4
374687    4
376657    1
Name: comprising_of, Length: 21999, dtype: int64
length of comprising_of 21999
length of df_part 21999
222       3
223       3
224       3
225       4
226       4
         ..
374711    9
374712    9
374713    9
374714    9
374715    9
Name: comprising_of, Length: 14581, dtype: int64
length of comprising_of 14581
length of df_part 14581
381       2
382       2
383       5
384       5
385       5
         ..
374745    1
374746    1
376658    1
376659    2
376660    2
Name: comprising_of, Length: 14425, dtype: int64
length of comprising_of 14425
length of df_part 14425
602       1
603       5
604       5
605       5
606       5
         ..
374886    4
374887    4
374888    4
374889    1
374890    1
Name: comprising_of, Length: 15745, dtype: int64
length of comprising_of 15745
length of df_part 15745
843       1
844       5
845       5
846       5
847       5
         ..
376668    2
376669    1
376670    1
376671    1
376672    1
Name: comprising_of, Length: 18092, dtype: int64
length of comprising_of 18092
length of df_part 18092
1046      5
1047      5
1048      5
1049      5
1050      5
         ..
374895    1
374896    1
374897    3
374898    3
374899    3
Name: comprising_of, Length: 16045, dtype: int64
length of comprising_of 16045
length of df_part 16045
1238      3
1239      3
1240      3
1241      5
1242      5
         ..
374953    1
374954    4
374955    4
374956    4
374957    4
Name: comprising_of, Length: 7902, dtype: int64
length of comprising_of 7902
length of df_part 7902
1537      1
1538      3
1539      3
1540      3
1541      4
         ..
376685    6
376686    6
376687    1
376688    1
376689    1
Name: comprising_of, Length: 10886, dtype: int64
length of comprising_of 10886
length of df_part 10886
1734      2
1735      2
1736      4
1737      4
1738      4
         ..
375064    3
375065    3
376690    1
376691    1
376692    1
Name: comprising_of, Length: 17311, dtype: int64
length of comprising_of 17311
length of df_part 17311
1919      1
1920      5
1921      5
1922      5
1923      5
         ..
375072    4
375073    4
375074    4
375075    2
375076    2
Name: comprising_of, Length: 19592, dtype: int64
length of comprising_of 19592
length of df_part 19592
2163      3
2164      3
2165      3
2166      5
2167      5
         ..
373681    3
373682    3
375077    3
375078    3
375079    3
Name: comprising_of, Length: 9286, dtype: int64
length of comprising_of 9286
length of df_part 9286
2327      4
2328      4
2329      4
2330      4
2331      4
         ..
373683    1
375080    1
375081    3
375082    3
375083    3
Name: comprising_of, Length: 2848, dtype: int64
length of comprising_of 2848
length of df_part 2848
2596      2
2597      2
2598      5
2599      5
2600      5
         ..
373684    1
375084    1
375085    1
376693    1
376694    1
Name: comprising_of, Length: 3982, dtype: int64
length of comprising_of 3982
length of df_part 3982
2827      2
2828      2
2829      3
2830      3
2831      3
         ..
375125    1
375126    1
375127    3
375128    3
375129    3
Name: comprising_of, Length: 15826, dtype: int64
length of comprising_of 15826
length of df_part 15826
3064      3
3065      3
3066      3
3067      5
3068      5
         ..
375131    4
375132    4
375133    4
375134    2
375135    2
Name: comprising_of, Length: 11397, dtype: int64
length of comprising_of 11397
length of df_part 11397
3285      1
3286      4
3287      4
3288      4
3289      4
         ..
375137    6
375138    6
375139    6
375140    6
375141    6
Name: comprising_of, Length: 3620, dtype: int64
length of comprising_of 3620
length of df_part 3620
3487      2
3488      2
3489      5
3490      5
3491      5
         ..
375163    2
375164    2
375165    1
375166    1
375167    1
Name: comprising_of, Length: 21852, dtype: int64
length of comprising_of 21852
length of df_part 21852
3646      1
3647      5
3648      5
3649      5
3650      5
         ..
375260    5
375261    5
375262    5
375263    5
375264    1
Name: comprising_of, Length: 14430, dtype: int64
length of comprising_of 14430
length of df_part 14430
3884      2
3885      2
3886      5
3887      5
3888      5
         ..
376723    1
376724    2
376725    2
376726    1
376727    1
Name: comprising_of, Length: 12589, dtype: int64
length of comprising_of 12589
length of df_part 12589
4015       2
4016       2
4017       4
4018       4
4019       4
          ..
376792    12
376793    12
376794    12
376795    12
376796    12
Name: comprising_of, Length: 16403, dtype: int64
length of comprising_of 16403
length of df_part 16403
4344       5
4345       5
4346       5
4347       5
4348       5
          ..
376826    15
376827    15
376828    15
376829    15
376830     1
Name: comprising_of, Length: 14575, dtype: int64
length of comprising_of 14575
length of df_part 14575
4543      2
4544      2
4545      4
4546      4
4547      4
         ..
376891    2
376892    2
376893    1
376894    2
376895    2
Name: comprising_of, Length: 19276, dtype: int64
length of comprising_of 19276
length of df_part 19276
4712      4
4713      4
4714      4
4715      4
4716      4
         ..
375799    2
375800    2
375801    2
375802    2
375803    2
Name: comprising_of, Length: 17499, dtype: int64
length of comprising_of 17499
length of df_part 17499
4899      3
4900      3
4901      3
4902      5
4903      5
         ..
376906    3
376907    1
376908    1
376909    1
376910    1
Name: comprising_of, Length: 17279, dtype: int64
length of comprising_of 17279
length of df_part 17279
5123      3
5124      3
5125      3
5126      5
5127      5
         ..
376356    6
376357    6
376358    6
376359    2
376360    2
Name: comprising_of, Length: 11889, dtype: int64
length of comprising_of 11889
length of df_part 11889
5321      2
5322      2
5323      4
5324      4
5325      4
         ..
376368    7
376369    7
376370    7
376371    7
376911    1
Name: comprising_of, Length: 11193, dtype: int64
length of comprising_of 11193
length of df_part 11193
5449       3
5450       3
5451       3
5452       5
5453       5
          ..
376652    15
376653    15
376654    15
376655    15
376656    15
Name: comprising_of, Length: 16390, dtype: int64
length of comprising_of 16390
length of df_part 16390

## unique values

In [168]:
# get unique values per variable

pivot = create_daily_pivot(df, participant="all", return_dict=False)
# get the unique values per variable
unique_values = pivot.nunique()
print(unique_values)

variable
id_num                          27
day                            113
mood                            59
mood_count                       7
screen                        1207
screen_count                   217
activity                      1161
activity_count                  25
circumplex.valence              30
circumplex.valence_count         7
circumplex.arousal              42
circumplex.arousal_count         7
call                            25
call_count                      26
sms                             16
sms_count                       17
appCat.builtin                1195
appCat.communication          1183
appCat.entertainment           849
appCat.finance                 207
appCat.game                    191
appCat.office                  275
appCat.other                  1116
appCat.social                  988
appCat.travel                  428
appCat.unknown                 264
appCat.utilities               424
appCat.weather                 112
appCat.builtin_count           255
appCat.communication_count     206
appCat.entertainment_count     146
appCat.finance_count            23
appCat.game_count               20
appCat.office_count             60
appCat.other_count              33
appCat.social_count             88
appCat.travel_count             40
appCat.unknown_count            19
appCat.utilities_count          35
appCat.weather_count            12
dtype: int64